<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>686434250009-8mukva116sk5k8t2ndkbasej8u0b8lnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686434250009-8mukva116sk5k8t2ndkbasej8u0b8lnv</string>
	<key>API_KEY</key>
	<string>AIzaSyCKu_rSJfvFUJnplOF0D2xJMT3RL7uOSd4</string>
	<key>GCM_SENDER_ID</key>
	<string>686434250009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bt.SecurityAsset</string>
	<key>PROJECT_ID</key>
	<string>securityassetios</string>
	<key>STORAGE_BUCKET</key>
	<string>securityassetios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686434250009:ios:65a8b47be2b5e372</string>
	<key>DATABASE_URL</key>
	<string>https://securityassetios.firebaseio.com</string>
</dict>
</plist>